@import "tailwindcss";

@import "@progress/kendo-theme-material/dist/all.css";


:root{
    --navy:#082b63;
    --blue:#1769d2;
    --gray:#5e6e83;
    --border:#dbe3ec;
    --navy: #082b63;
    --bg: #f5f7fa;
    --bluebg:#f7f9fc;
    --muted: #718096;
    --text: #17263b;
}
html,
body,
#root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    font-family: "Segoe UI", Arial, sans-serif !important;
}
